.tasks,
.tasklist
{
    
    padding:10px;
    flex-wrap: wrap;
    margin: 10px;
    border:1px solid;
    border-radius: 20px;
    justify-content: space-between; 
}
#main
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px;
    padding: 10px;
}
.layout
{

    flex-wrap: wrap; 
    flex-direction: column;
}

.tasks button
{
    /* display: flex; */
    flex-wrap: flex;
    flex-direction: row;
    /* margin-left: 50vw; */
}
.tasks
{
    display: flex;
}